body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke; /*#369c51*/
    color: white;
    margin: 0%;
}
aside{ /*contains warning*/
    background-color: #4a4a4a;
}

#warning{
    padding: 4px 10px 4px 10px;
}
.warning-text{
    margin: 8px;
    color: white;
    font-size: 12px;
}
.navigation { /*header*/
    background-color: #2d67c4;
    padding: 30px 15px 20px 15px;
    display: block;
    font-size: 14px;
}
.navbar{ /*nav tag*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.logo{ /*area around logo*/
    padding: 10px 10px 10px 5px;
}
.logo-text{
    margin: 0px;
    background-color: #1e488a;
    color: white;
    border-radius: 4px;
    padding: 5px
}

.navbar-buttons{
    padding-left: 20px;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    flex-direction: row;

}
.nav-link{ /*area around navbar link text*/
    padding-left: 3px;
    padding-right: 3px;
}
.nav-link-text:link, .nav-link-text:visited{
    color: white;
    text-decoration: none;
}
.nav-link-text{
    padding: 5px;
    background-color: #1e488a;
    border-radius: 4px;
    vertical-align: sub;
}
section{
    padding: 40px;
    text-align: center;
}
#home{
    background-color: #2d67c4;
}
#about{
    display: block;
    background-color: whitesmoke;
    color: #3a3d42;
}
#reviews{
    background-color: #d1d1d1;
    color: #3a3d42;
}
#download{
    background-color: whitesmoke;
    color: #3a3d42;
}
#download-link-text:link, #download-link-text:visited{
    color: black;
}
#ad-page{
    background-color: #d1d1d1;
    color: #3a3d42;
}
.ad-frame{
    border: 1px solid black;
    background-color: green;
    margin: auto;
}